.locations-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locations-list-container ul li button.selected-location {
    background-color: rgb(217, 80, 64);
}

ul {
    padding: 0;
    width: 100%;
}

li {
    list-style-type: none;
}

li button {
    width: 100%;
    padding: 15px 0;
    font-size: 1.2rem;
    color: white;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

li button:hover {
    background-color: rgb(217, 80, 64);
}

select {
    width: 90%;
    height: 30px;
    background-color: white;
    font-size: 1rem;
}