.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}

header {
    display: flex;
    background-color: #111;
    color: white;
}

header button {
    order: 0;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: rgb(217, 80, 64);
    color: inherit;
    cursor: pointer;
    padding: 10px 25px;
    border: none;
}

header .header-title-wrapper {
    order: 1;
    padding: 0 20px;
}

header h1 {
    font-size: 1.7rem;
    margin-bottom: 0;
}

header p {
    margin-top: 10px;
}

header p a {
    color: rgb(217, 80, 64);
    line-height: 1.5;
}

nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 77px;
    color: white;
    transition-timing-function: ease-in-out;
}

nav .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 12px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
}

.nav-open {
    left: 0;
}

@media (min-width: 768px) {
    header button {
        display: none;
    }

    header h1 {
        font-size: 2rem;
    }
    
    nav {
        left: 0;
        padding-top: 32px;
    }

    nav .closebtn {
        display: none;
    }

    main, header {
        margin-left: 250px;
    }
}